In [1]:
import numpy as np
import re
from bs4 import BeautifulSoup 
import requests

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

India = "https://www.espncricinfo.com/records/team/batting-most-runs-career/india-6/twenty20-internationals-3"
Australia ="https://www.espncricinfo.com/records/team/batting-most-runs-career/australia-2/twenty20-internationals-3"
Bangladesh="https://www.espncricinfo.com/records/team/batting-most-runs-career/bangladesh-25/twenty20-internationals-3"
England="https://www.espncricinfo.com/records/team/batting-most-runs-career/england-1/twenty20-internationals-3"
New_zealand="https://www.espncricinfo.com/records/team/batting-most-runs-career/new-zealand-5/twenty20-internationals-3"
Pakistan="https://www.espncricinfo.com/records/team/batting-most-runs-career/pakistan-7/twenty20-internationals-3"
South_africa="https://www.espncricinfo.com/records/team/batting-most-runs-career/south-africa-3/twenty20-internationals-3"
Srilanka="https://www.espncricinfo.com/records/team/batting-most-runs-career/sri-lanka-8/twenty20-internationals-3"
West_indies="https://www.espncricinfo.com/records/team/batting-most-runs-career/west-indies-4/twenty20-internationals-3"
Afghanistan="https://www.espncricinfo.com/records/team/batting-most-runs-career/afghanistan-40/twenty20-internationals-3" 

# headers = {
#     "User-Agent": "Mozilla/5.0 (Linux; Android 11; SAMSUNG SM-G973U) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/14.2 Chrome/87.0.4280.141 Mobile Safari/537.36"
# }

url=[India,Australia,Bangladesh,England,New_zealand,Pakistan,South_africa,Srilanka,West_indies,Afghanistan]
Country=[]
Player=[]
Span=[]
Matches=[]
Innings=[]
Not_Out=[]
Runs=[]
Highest_score=[]
Average=[]
Ball_Faced=[]
Strike_Rate=[]
Hundreds =[]
Fiftys=[]
Zeros=[]
Fours=[]
Sixes =[]

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}
for x in range(len(url)):
    response = requests.get(url[x], headers=headers)
    print(response)
    soup=BeautifulSoup(response.text)
    x = soup.find_all("td",attrs={"class":"ds-min-w-max"})
    country=soup.find_all("span",attrs={"class":"ds-text-compact-xs ds-block ds-text-typo hover:ds-text-typo-primary"})

    n=0
    while n<len(x):
        Country.append(country[1].text.split()[0])
        Player.append(x[n].text)
        n+=1
        Span.append(x[n].text)
        n+=1
        Matches.append(x[n].text)
        n+=1
        Innings.append(x[n].text)
        n+=1
        Not_Out.append(x[n].text)
        n+=1
        Runs.append(x[n].text)
        n+=1
        Highest_score.append(x[n].text)
        n+=1
        Average.append(x[n].text)
        n+=1
        Ball_Faced.append(x[n].text)
        n+=1
        Strike_Rate.append(x[n].text)
        n+=1
        Hundreds.append(x[n].text)
        n+=1
        Fiftys.append(x[n].text)
        n+=1
        Zeros.append(x[n].text)
        n+=1
        Fours.append(x[n].text)
        n+=1
        Sixes.append(x[n].text)
        n+=1

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [5]:
len(Player)

924

In [7]:
T20={
"Country":Country,
"Player":Player,
"Span":Span,
"Matches":Matches,
"Innings":Innings,
"Not_Out":Not_Out,
"Runs":Runs,
"Highest_score":Highest_score,
"Average":Average,
"Ball_Faced":Ball_Faced,
"Strike_Rate":Strike_Rate,
"Hundreds":Hundreds,
"Fiftys":Fiftys,
"Zeros":Zeros,
"Fours":Fours,
"Sixes":Sixes,
}

In [9]:
df=pd.DataFrame(T20)

In [11]:
df

,Country,Player,Span,Matches,Innings,Not_Out,Runs,Highest_score,Average,Ball_Faced,Strike_Rate,Hundreds,Fiftys,Zeros,Fours,Sixes
0,India,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
1,India,RG Sharma,2007-2024,159,151,19,4231,121*,32.05,3003,140.89,5,32,12,383,205
2,India,V Kohli,2010-2024,125,117,31,4188,122*,48.69,3056,137.04,1,38,7,369,124
3,India,SA Yadav,2021-2025,83,79,11,2598,117,38.20,1555,167.07,4,21,5,237,146
4,India,KL Rahul,2016-2022,72,68,8,2265,110*,37.75,1628,139.12,2,22,5,191,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,Afghanistan,Dawlat Ahmadzai,2010-2010,2,1,1,2,2*,-,3,66.66,-,-,-,0,0
920,Afghanistan,Aftab Alam,2012-2018,12,5,3,2,1*,1.00,9,22.22,-,-,1,0,0
921,Afghanistan,Yamin Ahmadzai,2015-2015,2,1,1,1,1*,-,1,100.00,-,-,-,0,0
922,Afghanistan,Sayed Shirzad,2015-2019,4,1,-,1,1,1.00,2,50.00,-,-,-,0,0
923,Afghanistan,M Nasim Baras,2015-2015,3,1,-,1,1,1.00,2,50.00,-,-,-,0,0

In [15]:
df.to_csv("T20.csv")

In [13]:
df.Country.unique()

array(['India', 'Australia', 'Bangladesh', 'England', 'New', 'Pakistan',
       'South', 'Sri', 'West', 'Afghanistan'], dtype=object)