In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [43]:
df=pd.read_csv("./T20.csv")

In [45]:
df

,Unnamed: 0,Country,Player,Span,Matches,Innings,Not_Out,Runs,Highest_score,Average,Ball_Faced,Strike_Rate,Hundreds,Fiftys,Zeros,Fours,Sixes
0,0,India,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
1,1,India,RG Sharma,2007-2024,159,151,19,4231,121*,32.05,3003,140.89,5,32,12,383,205
2,2,India,V Kohli,2010-2024,125,117,31,4188,122*,48.69,3056,137.04,1,38,7,369,124
3,3,India,SA Yadav,2021-2025,83,79,11,2598,117,38.20,1555,167.07,4,21,5,237,146
4,4,India,KL Rahul,2016-2022,72,68,8,2265,110*,37.75,1628,139.12,2,22,5,191,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,919,Afghanistan,Dawlat Ahmadzai,2010-2010,2,1,1,2,2*,-,3,66.66,-,-,-,0,0
920,920,Afghanistan,Aftab Alam,2012-2018,12,5,3,2,1*,1.00,9,22.22,-,-,1,0,0
921,921,Afghanistan,Yamin Ahmadzai,2015-2015,2,1,1,1,1*,-,1,100.00,-,-,-,0,0
922,922,Afghanistan,Sayed Shirzad,2015-2019,4,1,-,1,1,1.00,2,50.00,-,-,-,0,0
923,923,Afghanistan,M Nasim Baras,2015-2015,3,1,-,1,1,1.00,2,50.00,-,-,-,0,0

In [47]:
cols = ['Matches', 'Innings',"Runs", 'Not_Out', 'Average', 'Ball_Faced',
        'Strike_Rate', 'Hundreds', 'Fiftys', 'Zeros', 'Fours', 'Sixes']

df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [49]:
df.fillna(0,inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     924 non-null    int64
 1   Country        924 non-null    object
 2   Player         924 non-null    object
 3   Span           924 non-null    object
 4   Matches        924 non-null    float64
 5   Innings        924 non-null    float64
 6   Not_Out        924 non-null    float64
 7   Runs           924 non-null    float64
 8   Highest_score  924 non-null    object
 9   Average        924 non-null    float64
 10  Ball_Faced     924 non-null    float64
 11  Strike_Rate    924 non-null    float64
 12  Hundreds       924 non-null    float64
 13  Fiftys         924 non-null    float64
 14  Zeros          924 non-null    float64
 15  Fours          924 non-null    float64
 16  Sixes          924 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 122.8+ KB

In [53]:
x=df[['Matches', 'Innings',
       'Not_Out', 'Average', 'Ball_Faced',
       'Strike_Rate', 'Hundreds', 'Fiftys', 'Zeros', 'Fours', 'Sixes']]
y=df["Runs"]

In [55]:
xt,xtt,yt,ytt=train_test_split(x,y,train_size=0.80,random_state=2)

In [57]:
s=StandardScaler()
xt_t=pd.DataFrame(s.fit_transform(xt),columns=s.get_feature_names_out())
xtt_t=pd.DataFrame(s.transform(xtt),columns=s.get_feature_names_out())

In [59]:
l=LinearRegression()
l.fit(xt_t,yt)
predict=l.predict(xtt_t)
metrics.mean_absolute_error(ytt,predict)

12.889511852805784

In [61]:
df=pd.DataFrame({"Actual" : ytt,"LinearRegression":predict})

In [63]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor()
knn.fit(xt_t,yt)
predict=knn.predict(xtt_t)
metrics.mean_absolute_error(ytt,predict)

35.0

In [65]:
predict

array([2.2660e+02, 4.3400e+01, 6.2000e+00, 6.0600e+01, 1.7560e+02,
       3.5400e+01, 9.3400e+01, 1.1766e+03, 1.6000e+00, 1.5200e+01,
       1.7076e+03, 7.0940e+02, 1.7600e+01, 4.3800e+01, 9.6800e+01,
       2.5600e+01, 9.7740e+02, 6.9000e+01, 1.6000e+00, 3.3720e+03,
       1.2320e+02, 1.0948e+03, 5.3320e+02, 1.2800e+01, 1.5960e+02,
       4.6000e+01, 5.8800e+02, 1.1080e+02, 5.9000e+01, 4.8240e+02,
       1.5600e+01, 3.0000e+01, 4.2000e+00, 7.0000e+00, 1.9600e+01,
       1.0720e+02, 1.1394e+03, 2.6000e+00, 1.5400e+01, 1.3400e+01,
       3.6460e+02, 4.2000e+00, 1.2800e+01, 3.3200e+01, 7.1400e+01,
       1.6160e+02, 3.0600e+01, 7.2880e+02, 3.1400e+01, 1.8200e+01,
       2.3200e+01, 2.3780e+02, 1.7000e+01, 2.4200e+01, 8.2200e+01,
       7.6200e+01, 9.1200e+01, 2.0000e+00, 1.8700e+03, 1.0000e+00,
       2.8400e+01, 4.0000e+00, 5.5380e+02, 1.5800e+01, 3.6400e+01,
       7.5060e+02, 5.4040e+02, 1.8164e+03, 1.1600e+01, 1.0340e+02,
       4.2800e+01, 8.5200e+01, 3.5800e+01, 3.0280e+02, 4.5160e+02,
       2.6400e+01, 1.2480e+02, 1.8220e+02, 1.2440e+03, 2.6300e+02,
       2.2140e+02, 7.6000e+00, 3.2600e+01, 1.1320e+02, 3.1000e+01,
       1.6600e+01, 5.8000e+00, 6.3920e+02, 3.1400e+01, 1.3338e+03,
       1.6196e+03, 8.3400e+01, 1.0296e+03, 1.3100e+02, 3.8400e+01,
       5.0200e+01, 2.5820e+02, 4.4600e+01, 2.0550e+03, 1.3114e+03,
       4.7200e+01, 6.6000e+00, 4.6000e+00, 3.4100e+02, 8.2600e+01,
       8.6000e+00, 3.6720e+02, 5.8000e+00, 1.3400e+01, 8.6760e+02,
       4.2800e+01, 5.0000e+00, 1.1400e+01, 8.6000e+00, 2.2840e+02,
       5.8980e+02, 4.6800e+01, 1.0760e+02, 4.1800e+01, 2.8200e+01,
       3.0400e+01, 3.2000e+00, 1.5400e+01, 1.2784e+03, 2.0000e+00,
       3.2400e+01, 3.9400e+01, 2.8000e+00, 4.8260e+02, 7.0000e+00,
       7.1000e+01, 4.4280e+02, 1.2760e+02, 6.4640e+02, 1.2000e+00,
       1.9800e+01, 4.5600e+01, 3.9800e+01, 1.6980e+02, 9.2700e+02,
       1.3360e+02, 2.6600e+01, 6.3400e+01, 1.7582e+03, 1.9200e+01,
       6.2520e+02, 1.8480e+02, 1.0120e+02, 1.0620e+02, 1.5200e+01,
       1.9284e+03, 6.8000e+00, 9.4000e+00, 1.0420e+02, 2.0160e+03,
       2.1800e+01, 3.9000e+01, 2.2000e+00, 2.4530e+03, 1.8120e+02,
       2.9100e+02, 1.0000e+00, 2.7200e+01, 1.5200e+01, 2.1120e+02,
       7.0000e+00, 1.6000e+00, 2.0000e+00, 5.0400e+01, 6.4360e+02,
       9.3400e+01, 6.8480e+02, 1.8360e+02, 5.4280e+02, 4.5560e+02,
       7.7200e+01, 4.0120e+02, 5.5000e+01, 5.3400e+01, 1.3128e+03,
       2.0000e+00, 2.8620e+02, 3.9540e+02, 1.0200e+01, 1.3892e+03])

In [67]:
df["KNN_Regression"]=predict

In [69]:
df

     Actual  LinearRegression  KNN_Regression
305   281.0        288.220467           226.6
907    33.0         29.740037            43.4
571     3.0          2.848961             6.2
231   128.0        128.352235            60.6
811   193.0        203.319726           175.6
..      ...               ...             ...
671     2.0         -5.027169             2.0
595   334.0        324.046249           286.2
701   291.0        337.410615           395.4
272     4.0          1.251968            10.2
682  1511.0       1578.423135          1389.2

[185 rows x 3 columns]

In [71]:
from sklearn.tree import DecisionTreeRegressor
DT=DecisionTreeRegressor()
DT.fit(xt_t,yt)
predict=DT.predict(xtt_t)
metrics.mean_absolute_error(ytt,predict)

23.167567567567566

In [87]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor()
rfr.fit(xt_t,yt)
predict=rfr.predict([[125.0	,117.0	,31.0	,	48.69	,3056.0	,137.04,	1.0,	38.0	,7.0	,369.0,	124.0]])
# metrics.mean_absolute_error(ytt,predict)
predict

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([4116.9])

In [85]:
from sklearn.linear_model import LinearRegression
l=LinearRegression()
l.fit(xt_t,yt)
predict=l.predict(xtt_t)
metrics.mean_absolute_error(ytt,predict)

12.889511852805784

In [35]:
[125.0	,117.0	,31.0	,	48.69	,3056.0	,137.04,	1.0,	38.0	,7.0	,369.0,	124.0]

[125.0, 117.0, 31.0, 48.69, 3056.0, 137.04, 1.0, 38.0, 7.0, 369.0, 124.0]

In [ ]:
159	,151,	19,		32.05	,3003	,140.89	,5	,32	,12,	383	,205  =4104

In [ ]:
[['Matches', 'Innings',
       'Not_Out', 'Average', 'Ball_Faced',
       'Strike_Rate', 'Hundreds', 'Fiftys', 'Zeros', 'Fours', 'Sixes']]